<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<%- include('partials/head.ejs'); -%>

    <body onresize="resizedWindowEvent()">
        <audio class="my-auto" id="radio" crossorigin="anonymous"></audio>

        <header class="sticky-top bg-body shadow">
            <div class="container p-3">
                <div class="d-flex h-auto">
                    <!--
                    <div class="my-auto d-flex pr-3">
                        <span id="volume_icon" onclick="mute()"
                            class="text-body-tertiary clickable bi-volume-up">
                        </span>
                    </div>
                    <div class="my-auto d-flex ps-1 pe-3"><input oninput="changeVolume(this.value)" type="range" class="form-range" id="volumeRange"></div>
                -->
                    <div class="d-flex my-auto me-2 ">
                        <div class="d-flex align-items-center">
                            <span id="volume_icon" onclick="mute()"
                                class="text-body-tertiary clickable bi bi-volume-up me-1">
                            </span>
                            <div class="flex-grow-1 position-relative">
                                <input oninput="changeVolume(this.value)" type="range"
                                    class="form-range position-absolute w-100 h-100 opacity-0" id="volumeRange" min="0"
                                    max="100">
                                <div class="progress" style="width: 75px;">
                                    <div id="volumeProgress" class="progress-bar progress-bar-striped"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="visualizer_div" class="my-auto d-flex w-100 justify-content-center">
                        <div id="visualizer" class="w-100"></div>
                    </div>
                    <nav class="navbar ms-1">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasNavbarDarkLabel">
                        <div class="offcanvas-header">
                            <h5 id="dropdown_station" class="offcanvas-title disabled text-white bi">No station selected
                            </h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                               <!-- <li class="nav-item">
                                    <a id="menuEdit" onclick="toggleEditModal()"
                                        class="disabled nav-link bi bi-pencil-square" href="javascript:void(0);">
                                        Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a id="menuAdd" onclick="favouritesAction('add')"
                                        class="disabled nav-link bi bi-bookmark-plus " href="javascript:void(0);">
                                        Add</a>
                                </li>
                                <li class="nav-item">
                                    <a id="menuRemove" onclick="favouritesAction('remove')"
                                        class="disabled nav-link bi bi-bookmark-dash " href="javascript:void(0);">
                                        Remove</a>
                                </li>
                                -->
                                <li class="nav-item">
                                    <div class="btn-group w-100" role="group" aria-label="Button-Gruppe">
                                        <button id="menuEdit" onclick="toggleEditModal()" class="btn btn-secondary disabled">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </button>
                                        <button id="menuAdd" onclick="favouritesAction('add')" class="btn btn-secondary disabled">
                                            <i class="bi bi-bookmark-plus"></i> Add
                                        </button>
                                        <button id="menuRemove" onclick="favouritesAction('remove')" class="btn btn-secondary disabled">
                                            <i class="bi bi-bookmark-dash"></i> Remove
                                        </button>
                                    </div>
                                </li>
                                <hr>
                                <li class="nav-item">
                                    <form class="d-flex nav-link" role="search">
                                        <div id="searchDiv" class="input-group">
                                            <input id="searchField" class="form-control"
                                                onkeypress="submitSearch(event)" type="search" name="searchterm"
                                                placeholder="Search ..." aria-label="Search">

                                            <button class="btn btn-secondary dropdown-toggle bi bi-filter"
                                                title="Search by..." type="button" id="searchByButton"
                                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu" id="searchBy">
                                                <li>
                                                    <h6 class="dropdown-header">Search by...</h6>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setSearchBy('Name', this)"><i
                                                            class="bi bi-check-lg"></i> Name</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setSearchBy('Tag', this)"><i class="bi"></i> Tag</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setSearchBy('Country', this)"><i class="bi"></i>
                                                        Country</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setSearchBy('Language', this)"><i class="bi"></i>
                                                        Language</a></li>
                                            </ul>

                                            <button class="btn btn-secondary dropdown-toggle bi bi-sort-down"
                                                title="Order by..." type="button" id="orderByButton"
                                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu" id="orderBy">
                                                <li>
                                                    <h6 class="dropdown-header">Order by...</h6>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Name', this)"><i
                                                            class="bi bi-check-lg"></i> Name</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Votes', this)"><i class="bi"></i> Votes</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Clickcount', this)"><i class="bi"></i>
                                                        Clickcount</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Clicktrend', this)"><i class="bi"></i>
                                                        Clicktrend</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Changetimestamp', this)"><i class="bi"></i>
                                                        Changetimestamp</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Tags', this)"><i class="bi"></i> Tags</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Country', this)"><i class="bi"></i>
                                                        Country</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Language', this)"><i class="bi"></i>
                                                        Language</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Bitrate', this)"><i class="bi"></i>
                                                        Bitrate</a></li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Codec', this)"><i class="bi"></i> Codec</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"
                                                        onclick="setOrderBy('Random', this)"><i class="bi"></i>
                                                        Random</a></li>
                                            </ul>
                                            <button class="btn btn-secondary bi bi-search" id="searchButton"
                                                type="button"
                                                onclick="searchStations(document.getElementById('searchField').value, selectedSearchBy, selectedOrderBy)"></button>

                                        </div>
                                    </form>
                                </li>
                                <li class="nav-item" id="searchResults"> </li>
                                <hr>
                                <li class="nav-item">
                                    <form class="nav-link">
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <input checked type="checkbox" class="form-check-input mt-0" id="visualizerCheck" onchange="toggleVisualizer();">
                                                <label class="ms-2" for="visualizerCheck">Spectrum visualizer</label>
                                            </div>
                                            <select class="form-select" id="selectGradient" aria-label="Default select example" onchange="changeGradient(this.value)">
                                                <option value="default">Default</option>
                                                <option value="classic">Classic</option>
                                                <option value="orangered">Orangered</option>
                                                <option value="prism">Prism</option>
                                                <option value="rainbow">Rainbow</option>
                                                <option value="steelblue">Steelblue</option>
                                            </select>
                                        </div>
                                    </form>
                                </li>
                                <hr>
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a class="btn btn-secondary" href="/logout">
                                                    <i class="bi bi-box-arrow-left"></i> Logout
                                                </a>
                                            </div>
                                            <div class="text-end">
                                                <span class="text-muted">v<%= version.appVersion %></span>
                                                <% if (!version.isUpToDate) { %>
                                                    <span class="badge text-bg-warning">Update available</span>
                                                    <% } %>
                                                <br>
                                                <a class="bi bi-github nav-link d-inline" target="_blank"
                                                    href="https://github.com/kolle86/node-radio"> View Source</a>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container mt-3 mb-3">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-5 my-auto">
                            <h3 class="bi bi-bookmark-heart text-body-tertiary"> Favourites</h3>

                        </div>
                        <div class="col-7 text-end my-auto mb-2">
                            <google-cast-launcher id="castLauncher"></google-cast-launcher>
                            <button id="moveFavUp" onclick="moveFav('up')" type="button"
                                class="disabled btn btn-outline-secondary bi bi-chevron-up"></button>
                            <button id="moveFavDown" onclick="moveFav('down')" type="button"
                                class="disabled btn btn-outline-secondary bi bi-chevron-down"></button>
                        </div>
                    </div>
                    <ol id="favourites" class="list-group">
                    </ol>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editStationModal" tabindex="-1" aria-labelledby="editStationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editStationModalLabel">Edit favourite</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="editStationNameInputLabel">Name</span>
                                    <input type="text" class="form-control" id="editStationNameInput" aria-labelledby="editStationNameInputLabel">
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="editStationFaviconInputLabel">Favicon</span>
                                    <input type="text" class="form-control" id="editStationFaviconInput" aria-labelledby="editStationFaviconInputLabel">
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="editStationURLInputLabel">URL</span>
                                    <input type="text" class="form-control" id="editStationURLInput" aria-labelledby="editStationURLInputLabel">
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="editStationUidInputLabel">UID</span>
                                    <input type="text" disabled class="form-control" id="editStationUidInput" aria-labelledby="editStationUidInputLabel">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="saveEditedFavourite()" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast align-items-center" data-bs-autohide="true" data-bs-delay="5000"
                role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toastMessage" class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        <script src="radio.js"></script>

    </body>

</html>