body{
    background-color: #1e2125 !important;
}

.clickable, .bi-three-dots-vertical{
    cursor: pointer;
    font-size:2rem;
}

.clickable:hover{
    color: #a7acb1 !important;
}

.spinner-border{
    width: 1rem;
    height: 1rem;
}

.form-signin{
    max-width: 330px;
    padding: 1rem;
}

a img{
    object-fit: cover;
    transition: all 0.3s;
    margin-left: 8px;
}
    
.station-icon{        
    width: 56px;
    height: 56px;
}

.station-icon-search{        
    width: 32px;
    height: 32px;
}

#searchResults{
    max-height: calc(100vh - 400px);
    overflow: auto;
}

#dropdown_station{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cover {
    width: 192px;
    height: 192px;
}

.list-group-item.active{
    background-color: #2b3035 !important;
}

#castLauncher{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    cursor: pointer;
    --connected-color: var(--bs-primary);
    --disconnected-color: var(--bs-tertiary-color);
}

.nav-link.disabled{
    color: var(--bs-secondary-color) !important;
}

.volume-disabled{
    filter: grayscale(1);
}

#searchBy{
    max-width: 100px !important;
}

.sortable-chosen {
    cursor: grabbing;
    animation: pulse-shadow 1.2s infinite;
    position: relative;
    z-index: 10;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--bs-primary-rgb), 0.7);
    }
    70% {
        box-shadow: 0 0 0 8px rgba(var(--bs-primary-rgb), 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(var(--bs-primary-rgb), 0);
    }
}

/* Add drag handle icon indicator */
.list-group-item {
    position: relative;
}

.sortable-chosen:hover:after {
    content: "\f283"; /* Bootstrap icon for "chevron-expand" (up and down arrows) */
    font-family: "bootstrap-icons";
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 50%;
    transform: translate(-50%, -50%); /* Center perfectly */
    color: var(--bs-secondary-color);
    font-size: 2rem; /* Bigger icon */
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 2; /* Ensure it's above content */
    color: var(--bs-primary);
}