body{
    background-color: #1e2125 !important;
}

.clickable, .bi-three-dots-vertical{
    cursor: pointer;
    font-size:2rem;
}

.clickable:hover{
    color: #a7acb1 !important;
}

.spinner-border{
    width: 1rem;
    height: 1rem;
}

.form-signin{
    max-width: 330px;
    padding: 1rem;
}

#search_form{
    width: 250px;
}

a img{
    object-fit: cover;
    transition: all 0.3s;
    margin-left: 8px;
}
    
.station-icon{        
    width: 56px;
    height: 56px;
}

.cover {
    width: 192px;
    height: 192px;
}

.list-group-item.active{
    background-color: #2b3035 !important;
}

#castLauncher{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    cursor: pointer;
    --connected-color: var(--bs-primary);
    --disconnected-color: var(--bs-tertiary-color);
}